{% extends 'base.html' %}

{% block my_header %}
{% endblock %}

{% block content %}


<section id="contact">
  <article>

    {% if form.errors %}
    <p> Your username or password is incorrect.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>You dont have permission for this page.</p>
    
    {% else %}
        <p>Please login to see this page</p>
    {% endif %}
{% endif %}

<form method='post' action='{% url 'login' %}'>

    {% csrf_token %}
    {{form.as_p}}
    <input class='form_button' type="submit" value="login">
    <input type="hidden" name="{{next}}">

</form>
    

  </article>
</section>

{% endblock %}




