{% extends 'base.html' %}

{% block my_header %}
{% endblock %}

{% block content %}
    <section id="contact">
        <article>
            {% if form.errors %}
                <p> Your username or password is incorrect.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>You dont have permission for this page.</p>   
                {% else %}
                    <h2>Log in to the website.</h2>
                {% endif %}
            {% endif %}

            <div class='form'>
                <form method='post' action='{% url 'login' %}'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="buttonHolder">
                        <input class='form_button' type="submit" value="login">
                    </div>
                    <input type="hidden" name="{{next}}">
                </form>
            </div>
            <p>You don't have an account? Register <a href=" {% url 'site_core:signup' %} ">here.</a></p>
        </article>
    </section>
{% endblock %}




