{% extends 'base.html' %}

{% block my_header %}
{% endblock %}

{% block content %}


<section id="contact">
  <article>

    <section id="gallery">
        <article id="article_gallery">
          <h2 id='h2_gallery'>Gallery</h2>
      
          <div class="row">
            <div class="column">
              <div id='card1'></div>
              <div id='card2'></div>
            </div>
            <div class="column">
              <div id='card3'></div>
              <div id='card4'></div>
            </div>
          </div>
      
        </article>
      </section>  
    

  </article>
</section>

{% endblock %}


