{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo renovation website</title>
    <link rel="stylesheet" href='{% static "site_core/style.css" %}'>
</head>
<body>

  <header>
      <article>
        <h2 id = 'header_font'>Photo renovation website</h2>
      </article>
  </header>

  <nav>
    <div class="navbar">
      <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>  
        <div class="logo">
          <h1>Navbar</h1>
        </div>
        <div class="menu-items">
          <li><a href="#">Home</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#">Manual restoration</a></li>
          <li><a href="#">AI restoration</a></li>
          <li><a href="#contact">Contact</a></li>
        </div>
      </div>
    </div>
  </nav>

  <section id="home">
    <article>

      <h2>Photo renowation website</h2>

      <p>Do you have photos that have been damaged? Our website allows you to restore photos.</p>
      <p>Scratches, gratings are no longer a problem.  Restore your photos to their former glory.</p>

    </article>
  </section>

  <section id="gallery">
    <article id="article_gallery">
      <h2 id='h2_gallery'>Gallery</h2>

      <div class="row">
        <div class="column">
          <div id='card1'></div>
          <div id='card2'></div>
        </div>
        <div class="column">
          <div id='card3'></div>
          <div id='card4'></div>
        </div>
      </div>

    </article>
  </section>  

  <section id="contact">
    <article>
      <h2>Contact</h2>
      <p>Contact us using the form below. We will certainly dispel all your doubts.</p>
    </article>
  </section>

  <footer>
    <p>Copyright &copy; photo-renowation-website 2022</p>
  </footer>
  

</body>
</html>