{% extends 'base.html' %}

{% block my_header %}
{% endblock %}

{% block content %}


<section id="contact">
  <article>

    <h2>List of sended Photos</h2>
    <ul>
        {% for photo in photo_list %}
            <li>
                {{photo}} 
                <img id='list_photo' src="{{photo.photo.url}}" alt="" srcset="">
                <a href="/photo_delete/{{photo.id}}"><input class='form_button' type="submit" value="Delete"></a>
            </li>
          </br>
        {% endfor %}
        
    </ul>

  </article>
</section>

{% endblock %}


